html{
    box-sizing: border-box;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}

section{
    border:thin solid black;
    padding: 5px;
}
.image{
    width: 80px;
    margin: 40px;
    margin-top:50px;
    margin-bottom: 100px;
}
